.post-reply {
    margin-top: 32px;
    padding-bottom: 8px;
    display: flex;
    border-bottom: 1px solid #333;
}

.avatar-col {
    width: 60px;    
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.post-form-container {
    flex-grow:1;
    padding: 0 16px;
    padding-top: 6px;
}

.post-form {
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.post-form form {
    flex-grow: 1;
    height: 100%;
}

.post-form form input {
    height: 100%;
    width: 100%;
    background: #000;
    color: #fff;
    border: none;
    font-size: 24px;
}

.post-form form input:focus {
  outline: none;
}

.reply-button {
    cursor: pointer;
    height: 38px;
    border: none;
    background: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    padding: 0 16px;
    border-radius: 32px;
}

.reply-button:disabled {
    background: #777;
}

.file-upload-bar {
    margin-top: 16px;
    padding-top: 8px;
    width: 100%;
}

.file-upload-bar div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.file-upload-button {
    background: 0;
    border: none;
    color: #fff;
}

.image-preview-container {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    position: relative;
}

.image-preview {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.image-upload-cancel {
    border: none;
    background: rgba(0,0,0,.6);
    position: absolute;
    color: #fff;
    top: 16px;
    right: 16px;
    font-weight: 700;
    font-size: 28px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
