.retweeted-by {
    margin-top: 8px;
    color: #888;
    font-size: 13px;
    margin-left: 50px;
    font-weight: 700;
}

.retweeted-by i {
    margin-right: 10px;
}

.timeline-post {
    padding-top: 8px;
    border-bottom: 1px solid #333;
    color: #fff;
    display: flex;
}

.avatar-col {
    width: 60px;    
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.post {
    padding: 0 16px;
    flex-grow: 1;
}

.post-content-container {
    width: 100%;
}

a {
    color: #fff;
    text-decoration: none;
}

.user-names {
    margin-bottom: 4px;
}

.display-name {
    color: #fff;
    font-weight: 700;
    margin-right: 4px;
}

.additional-text {
    color: #888;
    margin-right: 4px;
}

.post-content {
    display: block;
}

.post-image {
    margin-top: 4px;
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 16px;
}

.post-engagement {
    color: #888;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 8px;
    margin-bottom: 4px;
}

.postActionButton {
    border: none;
    background: transparent;
    display: inline-block;
}

.post-engagement span {
    width: 24%;
}

.post-engagement div {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.post-engagement span i {
    margin-right: 8px;  
}

.post-engagement i {
    color: #888;
}

.bookmark-share i {
    margin: 0 8px; 
}

.liked-heart {
    color: #f91881 !important;
}
